
/* ------------------------ VARIABLES ------------------------ */

:root {
    --dark-mode-heiban: #39bae6;
    --dark-mode-atamadaka: #ec464f;
    --dark-mode-nakadaka: #ff8f40;
    --dark-mode-odaka: #6cbf43;
    --dark-mode-kifuku: #af85f4;
    --light-mode-heiban: #1aa0ce;
    --light-mode-atamadaka: #e92a35;
    --light-mode-nakadaka: #ff6b03;
    --light-mode-odaka: #61ad3b;
    --light-mode-kifuku: #7e53c4;

    --heiban: var(--dark-mode-heiban, initial);
    --atamadaka: var(--dark-mode-atamadaka, initial);
    --nakadaka: var(--dark-mode-nakadaka, initial);
    --odaka: var(--dark-mode-odaka, initial);
    --kifuku: var(--dark-mode-kifuku, initial);

    --green-accent: #37e3b2;
    --new-accent: yellow;
    --reading-color: #f8e1b5;
    --meaning-color: #3772ff; /* dodgerblue-like */
}

/* ------------------------ MAIN ------------------------ */

* {
    /* border: 0.05em dotted white; */
    box-sizing: border-box;
}

.card {
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    /* offsets scrollbar width, big brain stuff */
    padding-left: calc(100vw - 100%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Noto Sans JP", "Hiragino Sans", "Kosugi Maru", "Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 22px;

    /* centers wrapped text in long fields, dont remove */
    text-align: center;
}

.expressionContainer {
    position: relative;
    font-size: 260%;
}

@media DISABLED {
    /* uncomment for expression with furigana layout */

    .expression {
        display: flex;
        align-items: flex-end;
        height: 1.8em;
    }

    .expression rt {
        user-select: none;
        color: var(--green-accent);
    }
}

.expression a, .reading a {
    color: inherit;
}

.expression a:hover, .reading a:hover {
    box-shadow: inset 0 -.5em 0 0 var(--green-accent) !important;
    /* !important for minimalist anki */
}

.indicator {
    position: absolute;

    bottom: 0.5em;
    left: -0.46em;
    height: 0.27em;
    width: 0.27em;

    border-radius: 50%;
    display: none;
}

.visibleIndicator {
    display: block;
}

.indicatorNew {
    background-color: var(--new-accent);
}

.indicatorPreview {
    background-color: var(--green-accent);
}

.hint {
    margin: 0.2em auto;
    max-width: 30em;
    line-height: 145%;
}

.hint:empty {
    display: none;
}

.context b,
.hint b {
    text-decoration-color: var(--green-accent);
    /* aquamarine-like */

    font-weight: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
}

.divider {
    width: 100%;
}

.divider hr {
    opacity: 0.4;
    margin: 0.4em 1.2em;
    border-radius: 0.05em;
    border: 0.05em solid white;
}

.reading {
    /* display: none; */
    margin-top: -0.1em;
    font-size: 190%;
    line-height: 145%;
    color: var(--reading-color);
}

.meaning {
    margin-top: 0.25em;
    margin-bottom: 0.15em;
    font-size: 130%;
    font-weight: 500;
    color: var(--meaning-color);
}

.notes {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: left;
    font-size: 100%;
    /* color: lightseagreen; */
}

.notes:empty {
    display: none;
}

.definitionLine {
    line-height: 240%;
    font-weight: 500;
    color: white;
}

/* .definitionExpression:has(ruby) {
    line-height: 180%;
} */

.definitionExpression {
    margin-right: 0.06em;
    font-size: 150%;
    font-weight: normal;
    color: lightseagreen;
}

.definitionExpression a {
    color: inherit;
}

.definitionExpression a:hover {
    box-shadow: inset 0 -.5em 0 0 white !important;
    /* !important for minimalist anki */
}

.definitionExpression rt {
    user-select: none;
    font-size: 55%;
    color: white;
    /* color: lemonchiffon; */
}

.definitionReading {
    font-size: 120%;
    color: lemonchiffon;
}

.definitionMeaning {
    color: mediumaquamarine;
}

.simpleNoteLine {
    /* non-definition line, rare */
    line-height: 240%;
    color: lightslategray;
}

.notes:has(.definitionLine:last-child)~.image:not(:has(img)) {
    /* fixes long distance between note definition and context if there's no image between them */
    margin-bottom: -0.4em;
}

.image img {
    min-height: 6em;
    max-width: min(27em, 70vw);
    max-height: min(16em, 100vh - 17em);
    border-radius: 0.3em;
    /* border: 0.08em solid black; */

    /* WHEN font-size: 20px; */
    /* max-width: min(33em, 70vw);
    max-height: min(18.5em, 100vh - 17em); */
}

.audio {
    display: none;
    /* flex */
    justify-content: center;
}

.handwritten {
    font-family: "ackaisyo", "Noto Sans JP", sans-serif;
}

.contextInner {
    line-height: 145%;
}

/* ------------------------ ERROR ------------------------ */

.context:not(:has(b)),
.hint:not(:has(b)) {
    color: red !important;
}

.errorField,
.errorField * {
    color: red !important;
}

.superError,
.superError * {
    color: #ff2c2c !important;
}

/* ------------------------ PITCH ------------------------ */

.pitch {
    display: inline;
}

#pitch-tags {
    color: var(--canvas);
    font-family: var(--font-serif);
    background-color: var(--fg);
    display: none;
    vertical-align: top;
    padding: 1px 3px;
    margin-right: -5px;
}

.mobile .nightMode #pitch-tags {
    color: #000 !important;
    background-color: #fff;
}

/* Multiple pitches */

.pitch ul,
#pitch-tags ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.pitch li,
#pitch-tags li {
    display: inline;
}

.pitch ul>li:not(:last-child)::after,
#pitch-tags ul>li:not(:last-child)::after {
    content: "・";
}

.pitch ul>li:not(:last-child)::after {
    color: var(--fg-color);
}

#pitch-tags ul>li:not(:last-child)::after {
    color: var(--bg-color);
}

/* Pitch graphs */

.pitch-low {
    position: relative;
}

.pitch-high {
    position: relative;
}

.pitch-high>.pitch-line {
    display: block;
    position: absolute;
    top: -0.001em;
    left: 0;
    right: 0;
    height: 0;
    border-top-width: 0.1em;
    border-top-style: solid;
}

.mobile .pitch-high>.pitch-line {
    top: -0.1em;
}

.pitch-to-drop {
    position: relative;
    padding-right: 0.1em;
    margin-right: 0.1em;
}

.pitch-to-drop>.pitch-line {
    display: block;
    position: absolute;
    top: -0.001em;
    left: 0;
    right: 0;
    border-top-width: 0.1em;
    border-top-style: solid;
    right: -0.1em;
    height: 0.4em;
    border-right-width: 0.1em;
    border-right-style: solid;
}

.mobile .pitch-to-drop>.pitch-line {
    top: -0.1em;
}

/* Pitch colors */

.heiban {
    color: var(--heiban);
}

.atamadaka {
    color: var(--atamadaka);
}

.nakadaka {
    color: var(--nakadaka);
}

.odaka {
    color: var(--odaka);
}

.kifuku {
    color: var(--kifuku);
}

/* ------------------------ SPECIFIC SECTION ------------------------ */

.context {
    margin: 0.3em auto;
    max-width: 25em;
    font-size: 120%;
    /* display: flex;
    flex-direction: column;
    gap: 0.1em; */
}

/* .context>div:last-child {
    font-size: 80%;
    color: #bbb;
} */
